@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px

@media (max-width: 992px)
  .container
    max-width: 760px

  .nav
    &__item
      font-size: 12px
      line-height: 15px

  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
      width: 100%
    &-after-slider
      flex-direction: row

@media (max-width: 768px)
  .container
    max-width: 92%

  .logo
    max-width: 132px
    &__image
      width: 100%

  .search
    max-width: 240px
    height: 35px
    margin-left: auto

  .hotel-info__rating
    display: none

  .hotel
    &-after-slider
      flex-direction: column

  .booking
    width: 100%
    margin-bottom: 30px
  #map
    width: 100%

@media (max-width: 576px)
  .container
    max-width: 92%

  .nav
    &__item
      font-size: 10px
      line-height: 12px

  .logo
    max-width: 100px
    &__image
      width: 100%

  .search
    max-width: 200px
    height: 32px
    margin-left: auto

  .navbar-menu
    padding: 20px 0

@media (max-width: 510px)
  .hotel
    &__wrapper
      justify-content: space-between
    &-info
      &__offer
        order: -1
        margin-left: 0

  .stars
    flex-basis: auto
@media (min-width: 320px) and (max-width: 480px)
  .container
    max-width: 92%

  .navbar__search
    display: none

  .navbar-menu
    display: none

  .user
    display: none

  .menu-btn
    display: flex
    height: 13px
    width: 16px
    border: none
    flex-direction: column
    align-items: center
    justify-content: space-between
    cursor: pointer
    background-color: #fff

  .menu-btn__item
    width: 16px
    height: 1px
    background-color: #000
