@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px

  .card
    width: 230px
    height: 230px

  .footer
    &__input
      &-group
        flex-basis: 100%
  .packages
    &-wrapper
      grid-template-columns: repeat(4, minmax(min-content, 1fr))
    &__item
      grid-column: span 2
    &__item:nth-child(1)
      flex-direction: column
      grid-column: span 4
      width: 960px
    &__img
      width: 100%
      height: 250px
    &__text
      width: 100%
      &--first
        width: 100%
        display: flex
        flex-wrap: wrap
    &__name
      &--first
        width: 100%
        text-align: center
        order: -2
    &__info
      &--first
        order: -1
        margin: auto
    &__icon
      &-wrapper
        display: flex
        align-items: center
        margin-bottom: 30px
    &__stars
      display: none
    &__price
      align-content: center
      width: auto
    &__button
      &--first
        width: 100%

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 760px

  .nav
    &__item
      font-size: 12px
      line-height: 15px

  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
      width: 100%
    &-after-slider
      flex-direction: row

  #map
    width: 50%

  .reviews
    &-slider
      &__item
        max-width: 580px

  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px
    &__img
      height: 100%
      border-radius: 6px

  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &__group
        flex-basis: 49%
    &__logo
      grid-row: 1 / 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4

  .packages
    &-wrapper
      grid-gap: 10px
    &__item
      height: 600px
    &__item:nth-child(1)
      width: 760px
      height: 660px
    &__price
      width: 100%
      padding-bottom: 50px
    &__info
      &--first
        margin-left: 0
@media (max-width: 876px)
  .modal
    &__send
      display: flex
      flex-direction: column
    &__info
      margin-top: 15px

@media (max-width: 828px)
  .packages
    &__item:nth-child(1)
      width: 100%
@media (max-width: 768px)
  .container
    max-width: 92%

  .logo
    max-width: 132px
    &__image
      width: 100%

  .search
    max-width: 240px
    height: 35px
    margin-left: auto

  .hotel-info__rating
    display: none

  .hotel
    &-after-slider
      flex-direction: column

  .booking
    width: 100%
    margin-bottom: 30px
  #map
    width: 100%

  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start

  .subscribe
    width: 100%

  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)

  .footer
    &__input
      &-group
        flex-basis: 100%

  .modal
    &__dialog
      padding: 33px 58px
@media (max-width: 739px)
  .card
    width: 300px

@media (max-width: 660px)
  .card
    width: 270px
  .packages
    &__item
      height: 550px
    &__item:nth-child(1)
      height: 700px
    &__info
      flex-basis: 50%
    &__description
      flex-basis: 50%
@media (max-width: 585px)
  .container
    max-width: 92%

  .nav
    &__item
      font-size: 10px
      line-height: 12px

  .logo
    max-width: 100px
    &__image
      width: 100%

  .search
    max-width: 200px
    height: 32px
    margin-left: auto

  .navbar-menu
    padding: 20px 0

  .card
    width: 49%
    height: 255px

  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__after
      grid-row: 8
      grid-column: 1
      &-ul
        padding: 0

  .modal
    &__dialog
      padding: 15px 38px
@media (max-width: 536px)
  .packages
    &__item
      height: auto
    &__text
      padding: 0 21px 34px 36px
    &__price
      padding-bottom: 0
    &__description
      margin: 0
@media (max-width: 510px)
  .hotel
    &__wrapper
      justify-content: space-between
    &-info
      &__offer
        order: -1
        margin-left: 0

  .stars
    flex-basis: auto

@media (max-width: 396px)
  .packages
    &__img
      height: 150px
    &__name
      font-size: 13px
    &__text
      padding: 0

@media (max-width: 372px)
  .packages
    &__item
      height: 500px
      width: 96%
    &__item:nth-child(1)
      height: 630px
      width: 96%
    &__name
      font-size: 15px

@media (max-width: 32px)
@media (min-width: 320px) and (max-width: 480px)
  .container
    max-width: 92%

  body
    padding-top: 80px

  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex

  .navbar-menu
    display: none
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 78px
    padding-top: 30px
    &--visible
      display: block

  .nav
    flex-direction: column
    align-items: center
    &__item
      margin-bottom: 20px
      flex-direction: column
      justify-content: center
      &--mobile
        &--visible
          display: none
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .menu-btn
    display: flex
    height: 13px
    width: 16px
    border: none
    flex-direction: column
    align-items: center
    justify-content: space-between
    cursor: pointer
    background-color: #fff

  .menu-btn__item
    width: 16px
    height: 1px
    background-color: #000

  .card
    width: 100%

  .activities__card:nth-child(1)
    order: -1

  .activities__card:nth-child(3)
    order: -1

  .footer
    &__after
      flex-wrap: wrap
      &-ul
        min-width: 100%

  .modal
    &__dialog
      padding: 15px 18px
